.imagesList {

}

.imageItem {
  position: relative;
  /* margin: 20px; */
}

.image-box {
  border-radius: 20px;
  background-color: #D7CCC8;
  color: #212121;
}

.imageItem__userRow {
  background: #795548;
}

.imageItem__userRow__userImg {
  height: 40px;
  width: 40px;
}

.imageItem__userRow__name {
  color: #FFFFFF;
}

.imageItem__photo {
  height: 100%;
  width: 100%;
}

.image-title {
  color: #212121;
}
