.imagesList {

}

.imageItem {
  position: relative;
  /* margin: 20px; */
  border-radius: 20px;
  background-color: #f8c291;
}

.imageItem__userRow {
  background: #fa983a;
}

.imageItem__userRow__userImg {
  height: 40px;
  width: 40px;
}

.imageItem__photo {
  height: 100%;
  width: 100%;
}
