<section class="section bg-light imageView">
  <div class="container-xl">
    <div class="row imagesList justify-content-center">

      <div class="col-4 p-3 imageItem" *ngFor="let image of imageList; let i = index">
        <div class="image-box" [ngClass]="{ active: image.isActive === true }">
          <div class="imageItem__userRow d-flex align-items-center p-1">
            <img src="{{ image.profilePhotoUrl }}" alt="{{ image.title }}"
              class="img-fluid rounded-circle d-block imageItem__userRow__userImg" />
            <div class="imageItem__userRow__name fw-bold mx-2">@{{ image.username }}</div>
          </div>
          <div class="">
            <img src="{{ image.imageUrl }}" alt="{{ image.title }}"
              class="img-fluid mx-auto d-block imageItem__photo" />
          </div>
          <div class="image__description p-2">
            <div class="image-name">
              <p class="fw-bold image-title">{{ image.title }}</p>
              <p class="mt-1">{{ image.text | wordsTruncature: 70 }}</p>
            </div>
            <app-image-like-button [likes]="image.likeButton"></app-image-like-button>
            <app-image-comment [comments]="image.comments"></app-image-comment>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
